header{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 20px;
    border-bottom-color: #FFF05A; 
    border-top-color: #E5E5E5;
    color: #FF785A;
    background-color: #191919;
}

button, #submit{
    margin: 10px;
    padding: 15px;
    width: 110px;
    height: 50px;
    background-color: #191919;
    color: #FF785A;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-left-color: #FF785A;
    border-right-color: #FF785A;
    border-bottom-color: #FFF05A; 
    border-top-color: #E5E5E5;
    border-radius: 20px;
}

legend{
    background-color: #191919;
    color: #E5E5E5;
    font-size: 20px;
}

form{
    margin: 50px;
}